<!-- wp:template-part {"slug":"header","theme":"digital-marketing-freelancer","tagName":"header"} /-->

<!-- wp:pattern {"slug":"digital-marketing-freelancer/inner-banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"120px"},"color":{"text":"var(--wp--preset--color--extra-secondary)"}}} -->
<h2 class="wp-block-heading has-text-align-center has-text-color" style="color:var(--wp--preset--color--extra-secondary);font-size:120px"><strong>404</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">This page is not found</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"width":517,"widthUnit":"px","buttonText":"Search","align":"center","textColor":"foreground"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"digital-marketing-freelancer","tagName":"footer","className":"digital-marketing-freelancer-footer-column"} /-->